body{
    background-color: rgba(0, 0, 0, 0.4);
}

input:focus { 
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 10px red;
}
textarea:focus { 
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 10px red;
}

#border{
    position: absolute;
    border: 3px solid transparent;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
    margin-left: 750px;
    margin-top: 40ch;
}
#logo{
    position: absolute;
    margin-left: 100px;
    margin-top: 5ch;

}
#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 8.4ch;
}

#output1{
    color:white;
}
#btn{
    position: absolute;
    border: 2px solid green;
    width: 150px;
    height: 40px;
    font-size: 19px;
    background-color: green;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:26ch;
    margin-left: -270px;
}
#content{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.792);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    text-align: center;
    width: 240px;
    margin-top: 21ch;
    margin-left: -316px;
    font-size: 17px;
}

#link{
    position: absolute;
    color: rgba(255, 255, 255, 0);
    border: 2px solid transparent;
    background-color: transparent;
    margin-top: 50ch;
}

